@import "../../../styles/mixin";

.link_before_copy {
    @include round_button;
    &:after {
        background-image: url(/icons/circles_relation.svg);
    }
}

.link_after_copy {
    @include round_button;
    cursor: default;
    &:after {
        background-image: url(/icons/double_check.svg);
    }
}
