@import "../../../styles/variables";
@import "../../../styles/mixin";
@font-face {
    font-family: "timer_font";
    src: url("/timer.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.modal_container {
    @include modal_container;
}

.close_icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 30px;
    background-repeat: no-repeat;
    background-image: url(/icons/close.svg);
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.time_section {
    position: relative;
    padding: 23px 0 23px;
    font-family: "timer_font";
    font-size: 72px;
}
.placeholder {
    color: rgb(232, 231, 231);
}
.inputs {
    position: absolute;
    top: 23px;
    left: 89px;
    line-height: 0;
    text-align: left;
    .minute {
        width: 68px;
    }
    .second {
        width: 68px;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
}
