@import "../../../styles/variables";
@import "../../../styles/mixin";

.container {
    position: relative;
    width: 245px;
    padding: 13px 15px;
    border: 1px solid $gray;
    border-radius: 10px;
    margin: 7px;

    &:hover {
        .button_container {
            position: absolute;
            right: 15px;
            bottom: 9px;
            display: flex;
            gap: 5px;

            .rename_button {
                @include hover_button(32px, url(/icons/pencil.svg));
            }
            .delete_button {
                @include hover_button(32px, url(/icons/trash.svg));
            }
        }
    }
}

.name_container {
    width: 194px;
    height: 44px;
}

.name {
    margin-bottom: 7px;
    color: $black-light;
    font-size: 15px;
    font-weight: 700;
}

.created_at {
    color: $gray-dark;
    font-size: 13px;
}
