@import "../../styles/variables";
@import "../../styles/mixin";

.container {
    @include common_ui;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    margin-right: 36px;
    border-radius: 30px;

    &:hover {
        .pre_stop_button {
            @include hover_button(34px, url(/icons/stop.svg));
            position: absolute;
            left: 12px;
        }
    }
}

.time_container {
    padding-bottom: 2.5px;
    margin-left: 8px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
}

// ----- 종료 확인 -----
.back_button {
    position: absolute;
    width: 8px;
    height: 12px;
    left: -15px;
    background: no-repeat center url(/icons/arrow.svg);
}

.stop_confirmation {
    width: 77px;
    position: absolute;
    left: 13px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 14px;
}

.stop_button {
    @include hover_button(32px, url(/icons/stop_warning.svg));
    position: absolute;
    right: 7px;
}
