@import "../../../styles/variables";
@import "../../../styles/mixin";

.screen_window {
    background-color: addOpacityToColor($gray, 40);
    position: relative;
    overflow: hidden;
    background-color: $gray;
    padding: 10px;
}

.screens {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;

    &.wrap {
        flex-wrap: wrap;
    }
}
