@import "../../../styles/variables";

.screen_window {
    background-color: $gray;
    flex-grow: 1;
    margin-right: 26px;
    display: grid;
    width: 100%;
    padding: 88px 95px;
    gap: 8px;
    justify-items: center;
    align-items: center;
    max-height: 100%;

    &.over {
        grid-template-columns: repeat(2, 1fr);
    }

    &.under {
        grid-template-columns: 1fr;
    }
}
