@import "../../../styles/variables";

.screen_window {
    background-color: $gray;
    flex-grow: 1;
    margin-right: 26px;
    display: grid;
    padding: 88px 95px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    justify-items: center;
    align-items: stretch;
    max-height: 100%;
}
