@import "../../../styles/variables";

.wrapper {
    padding: 15px 0;
    border-radius: 15px;
    border: 1px solid $white;
    background: $base-color;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
