@import "../../styles/variables";

.screen_container {
    position: relative;

    .screen {
        border: 1px solid $border-color;
        border-radius: 15px;
    }

    .user_name {
        position: absolute;
        top: 25px;
        left: 25px;
        background-color: $gray;
        color: $white;
        padding: 3px 14px;
        border-radius: 5px;
        font-size: 9px;
    }
}
