@import "../../styles/variables";

.screen_container {
    position: relative;
    width: fit-content;
    min-height: 0;
    max-height: fit-content;

    .screen {
        border: 1px solid $border-color;
        border-radius: 15px;
        width: 100%;
        min-height: 0;
        max-height: 100%;
    }

    .user_name {
        position: absolute;
        top: 25px;
        left: 25px;
        background-color: rgb(0, 0, 0, 0.2);
        color: white;
        padding: 3px 14px;
        border-radius: 5px;
        font-size: 9px;
    }
}
