@import "../../../styles/mixin";
@import "../../../styles/variables";

.modal_container {
    @include modal_container;
}

.close_icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 30px;
    background-repeat: no-repeat;
    background-image: url(/icons/close.svg);
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.room_name {
    @include custom_input;
    width: 250px;
    height: 38px;
    margin: 30px 0 37px;
    padding: 8px 12px 8px 16px;
    border: 1px solid $point-color;
    text-align: left;
    &:focus,
    &:has(input:focus),
    &:has(textarea:focus) {
        border-color: none;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin: 0 auto;
}
