@import "../../styles/variables";
@mixin menu_common_ui {
    height: 50px;
    background-color: $base-color;
    border: 1px solid $border-color;
    box-shadow: $normal-shadow;
}
@mixin menu_bar_after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 8px;
    right: 8px;
    background-repeat: no-repeat;
}

.menu_container {
    display: flex;
    margin-right: 10px;
}

.menu_bar {
    @include menu_common_ui;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 193px;
    padding: 5px 22px 5px 14px;
    margin: 0 23px 0 40px;
    border-radius: 30px;
}
.timer {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    &:after {
        @include menu_bar_after;
        background-image: url(/timer-plus.svg);
    }

    &:hover {
        background-color: white;
        opacity: 0.4;
    }
}
.screen_share {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    &:after {
        @include menu_bar_after;
        background-image: url(/screen_share-off.svg);
    }

    &:hover {
        background-color: white;
        opacity: 0.4;
    }
}
.active_user_number {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;

    .active_circle {
        color: $active-color;
        margin-right: 2px;
    }
}

.chat {
    @include menu_common_ui;
    width: 50px;
    border-radius: 50%;
    &:after {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(/chat.svg);
        background-repeat: no-repeat;
        background-size: 26px;
        background-position: 12px 11px;
    }
}
