.main {
    padding: 25px;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 23px;
    min-width: 1000px;
}

.container {
    display: flex;
    height: calc(100% - 73px);
}

.chat {
    margin-top: 52px;
    flex-shrink: 0;
}

.menu {
    // margin-left: auto;
}
