@import "../../styles/variables";
@import "../../styles/mixin";

.chat_container {
    @include common_ui;
    width: 286px;
    padding: 18px;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.chat_header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;

    span.chat_text {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    button.close_button {
        width: 24px;
        height: 24px;
        background-image: url(/icons/close.svg);
    }
}

.chat_main {
    padding-top: 15px;
    padding-right: 12px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat_bottom {
    padding-top: 12px;
}
