@import "../../../styles/variables";

.container {
    display: flex;
    gap: 7px;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: $white;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.message_wrapper {
    display: flex;
    gap: 6px;
    margin-top: 2px;
}

.nickname {
    font-size: 13px;
    font-weight: 700;
    color: $black-light;
}

.message_main {
    padding: 5px 10px;
    background: $white;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    max-width: 176px;
    overflow-wrap: break-word;
    letter-spacing: -0.65px;
    white-space: pre-wrap;
}

.time {
    display: flex;
    align-items: flex-end;
    font-size: 9px;
    font-weight: 400;
    color: $gray;
    line-height: 13px;
}
