@import "../../../styles/mixin";

.on {
    @include round_button;
    margin-left: 10px;
    &::after {
        background-image: url(/icons/notification_on.svg);
    }
}

.off {
    @include round_button;
    margin-left: 10px;
    &::after {
        background-image: url(/icons/notification_off.svg);
    }
}
