@import "../../../styles/variables";
@import "../../../styles/mixin";

.login_modal {
    @include modal_container(400px, 270px);
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    .title {
        font-size: 18px;
        font-weight: bold;
        margin: 0 auto;
    }

    .close_button {
        position: absolute;
        top: 32px;
        right: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: stretch;
    }
}
