.wrapper {
    width: 195px;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.user_menu {
    width: 195px;
    position: absolute;
}

.top {
    bottom: 60px;
}

.bottom {
    top: 60px;
}
