@import "./variables";

@mixin common_ui {
    background-color: $base-color;
    border: 1px solid $border-color;
    box-shadow: $normal-shadow;
}

@mixin custom_input($border-width: 1px, $border-radius: 20px) {
    box-sizing: border-box;
    border: $border-width solid $border-color;
    padding: 8px 0px 8px 16px;
    border-radius: $border-radius;
    font-size: 13px;
    line-height: normal;
    font-weight: 400;

    &:focus,
    &:has(input:focus),
    &:has(textarea:focus) {
        border-color: $point-color;
    }

    &::placeholder,
    & input::placeholder,
    & textarea::placeholder {
        color: $gray;
    }
}

@mixin round_button {
    @include common_ui;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    &:after {
        content: "";
        display: inline-block;
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@mixin modal_container($width: 350px, $height: 240px) {
    width: $width;
    height: $height;
    padding: 30px 0;
    border-radius: 15px;
    text-align: center;
    background: $white;
}
