$base-color: #f1f3f4;
$border-color: #ffffff;
$point-color: #a1bbee;
$active-color: #68cc58;
$hover-color: #e0e2e3;

$black-light: #373737;
$gray-dark: #848484;
$gray: #c4c4c4;
$gray-light: #f3f3f3;
$white: #ffffff;

$normal-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
