// https://nextjs.org/docs/app/building-your-application/styling/sass
// $primary-color: #64ff00;
 
// :export {
//   primaryColor: $primary-color;
// }

$base-color: #F1F3F4;
$border-color: #FFFFFF;
$point-color: #A1BBEE;
$active-color: #68CC58;