@import "../../../styles/variables";
@import "../../../styles/mixin";

.input_container {
    @include custom_input(2px, 30px);
    display: flex;
    align-items: center;
    gap: 7px;
    padding-right: 11px;
}

.message_textarea {
    overflow: hidden;
    resize: none;
    flex-grow: 1;
}

.send_button {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    background-image: url(/icons/send.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
}

.active {
    background-color: $point-color;
}
