@import "../../../styles/variables";

.input_container {
    border: 2px solid $border-color;
    border-radius: 30px;
    padding: 3px 3px 3px 14px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.focus {
    border-color: $point-color;
}

.message_textarea {
    overflow: hidden;
    resize: none;
    height: 21px;
    flex-grow: 1;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;

    &::placeholder {
        font-weight: 400px;
        font-size: 13px;
        line-height: 19px;
        color: #c4c4c4;
    }
}

.send_button {
    width: 28px;
    height: 28px;
    border-radius: 50%;

    background-image: url(/send.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
}

.active {
    background-color: $point-color;
}
